<h1>Point Of Sale</h1>

<% if @items.any?() %>
  <% @items.each() do |item| %>
  <form>
    <input type="checkbox" name="<%= item.name() %>" value="<%= item.id() %>">
    <label class="item-name"><%= item.name() %></label>
    <label class="item-price">$<%= item.price() %></label>
  </form>
  <% end %>
  <button type="submit" class="btn btn-success">Buy</button>
<% else %>
  <p>You don't have any items!</p>
<% end %>
<hr>
<a href="/manager">Manager</a>
